body {
    background: black;
    color: white;
    font-family: Georgia, serif;
    text-align: center;
}
p {
    font-style: italic;
    color: #6bb6ff;
}
h1 {
    font-style: italic;
    margin-top: 80px;
}

img {
    width: 600px;
    margin: 40px auto;
    display: block;
}

.links a {
    color: #4da6ff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}